- var blogTitle = "Acht"

doctype html
html(lang='en')
  head
    meta(charset="utf-8")
    title #{blogTitle}#{title ? ': ' + title : ''}
  body(class="bg-slate-200 text-slate-900")
    block body
    

       

