extends head.pug

block body
  div.section
    div.container.header
      div.logo 
        h1 #{blogTitle}#[span Some subtitle?]
      nav.nav-links
        a(href="#test") Hire me!
        a(href="#test2") Posts
  
  div.section
    div.container
      h2 About
      include:markdown-it(linkify langPrefix='highlight-') about.md    

  div.section
    div.container
      h2 Hire me!

  div.section
    div.container
      h2 Posts:
      ul.post-list
        each post in posts.slice(0, 10)
          li
            a(href=post.filename) #{post.title}
