extends head.pug

block body
  div.section
    div.container.header
      div.logo 
        h1 #{blogTitle}#[span Some subtitle?]
      nav.nav-links
        a(href="#test") Hire me!
        a(href="#test2") Posts
  div.section.about
    div.container
      h2 About
      include:markdown-it(linkify langPrefix='highlight-') about.md    

  div.section.hire-me
    dive.container
      h2 Hire me!