extends head.pug

block body
  div.section
    div.container.header
      div.logo 
        h1 #{blogTitle}#[span Under heavy construction]
      nav.nav-links
        a(href="#hire-me") Hire me!
        a(href="#posts") Posts
  
  div#about.section
    div.container
      h2 About
      include:markdown-it(linkify langPrefix='highlight-') about.md    

  div#hire-me.section
    div.container
      h2 Hire me! #[span (coming soon)]

  div#posts.section
    div.container
      h2 Posts:
      ul.post-list
        each post in posts.slice(0, 10)
          li
            a(href=post.filename) #{post.title}
