extends head.pug

block body
  div.content
    h1 #{blogTitle}
    p This is the object storage version
    h2 Posts:
    ul
      each post in posts
        li
          a(href=post.filename) #{post.title}
