extends head.pug

block body
  body
    div.bg-hero.flex-stack-centered.mg-btm.pd-top-l.mheight-20.color-hero
      h1.fs-xxl.mg-btm-s #{blogTitle}
      p.txt-center.lh-1.fs-l.uc.opac-7.mg-btm-xl Under heavy construction
      div.flex-stack-centered
        p.txt-center.mg-btm-s deanrobertcook@gmail.com
        div.flex-row-together.gap-s
          a(href="https://www.linkedin.com/in/deanrobertcook/" target="_blank" rel="noopener noreferrer")
            img(src="linkedin.svg").wh-icon.mg-0
          a(href="https://github.com/deanrobertcook" target="_blank" rel="noopener noreferrer")
            img(src="github.svg").wh-icon.mg-0


    div
      ul.grid-3.md--grid-1.mwidth-100ch.mg-center.list-none.gap-m.mg-btm
        each post in posts.slice(0, 10).sort(postOrder)
          li
            a(href=post.href).flex-stack.mwidth-50ch.mg-center.height-max.pd-m.txt-dec-none.bg-highlight.hover--animate-away
              h2 #{post.title}
              p.mg-0.maxlines-10
                != post.preview
                  
      
                  
