extends head.pug

block body
  div#header.section
    div.logo
      h1 #{blogTitle}
      p.subtitle Under heavy construction

  div.section
    ul.post-list
      each post in posts.slice(0, 10).sort(postOrder)
        li
          a(href=post.filename).preview
            h2.post-title #{post.title}
            p.post-intro
              != post.preview
                
      
                  
