extends head.pug

block body
  body.group
    div.bg-hero.mheight-20
    div.mwidth-680.mg-center.up-10.fs-l.shdw-l
      a(href="index.html").color-hero.block.mg-btm-s < Home
      article.bg-highlight.pd-l.mg-btm-0--last-child
        header.flex-row-separate.gap-m
          h1.mg-btm-s #{title} 
          p.opac-5.fs-s.mg-btm-s.lh-1.uc!=formatDate(date)
        hr.hr-big.mg-btm
        != content
        
      

       

