extends head.pug

block body
  body.group
    div.bg-hero
    article.post.center.fs-l.up25vh.mg-btm-l.bg-highlight.mg-btm-0--last-child.shdw-l
      header.flex-row-separate.gap-m
        h1.post-title #{title} 
        p.post-date.uc!=formatDate(date)
      hr
      != content
    
      

       

