extends head.pug

block body
  body.group
    div.bg-hero
    article.mwidth-680.mg-center.up25vh.fs-l.pd-l.mg-btm-l.bg-highlight.mg-btm-0--last-child.shdw-l
      header.flex-row-separate.gap-m
        h1.mg-btm-s.post-title #{title} 
        p.opac-5.fs-s.mg-btm-s.lh-1.uc!=formatDate(date)
      hr.hr-big.mg-btm
      != content
    
      

       

