/* Base styles */
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: system-ui;
  font-size: 16px;
  color: #0f172a;
  background-color: #e2e8f0;
}

p, li {
  line-height: 1.5em;
}

a {
  color: inherit;
}

a:hover {
  color: #DD6E42;
}

/* HEADER */
.logo {
  margin-top: 2em;
  margin-bottom: 2em;
}

.logo > h1 {
  width: max-content;
  margin: 0 auto;
  font-size: 4em;
}

.subtitle {
  width: max-content;
  margin: 0 auto;
  opacity: 70%;
}

/* INDEX POST LIST */
.post-list {
  list-style: none;
  padding: 0 1em 1em 1em;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(30ch,1fr));
  grid-auto-rows: 1fr;
  align-items: stretch;
  gap: 1em;
  max-width: 100ch; /* Only allow about 2 cards in the width */
  margin: 0 auto;
}

@media (max-width: 768px) {
  .post-list {
    grid-template-columns: 1fr;
  }
}
 
/* PREVIEW CARDS */
.post-prev {
  padding: 1em;
  background-color: #f8fafc;
  display: flex;
  flex-direction: column;
  gap: 1em;
  margin: 0 auto;
  max-width: 50ch;
  text-decoration: none;
  height: 100%;
}

.post-prev:hover {
  animation: 0.25s ease forwards anim;
}

@media (max-width: 768px) {
  .post-prev:hover {
    animation: none;
  }
}

@keyframes anim {
  to {
    box-shadow: 4px 4px 4px #94a3b8;
    transform: translate(-4px, -4px);
  }
}

.post-prev-title {
  margin: 0;
}

.post-prev-intro {
  margin: 0;
  display: -webkit-box;
  -webkit-line-clamp: 10;
  -webkit-box-orient: vertical;  
  overflow: hidden;
}

.post-prev-intro > *:nth-child(1) {
  margin-top: 0;
}

/* POST PAGES */
.post-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  gap: 1em;
}

.post-date, .post-title {
  margin: 0; 
}

.post-date {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  line-height: 1em;
  font-size: 0.8em;
  opacity: 0.5;
  min-width: max-content;
}

.post > hr {
  border-top: 2px solid #64748b;
  border-bottom: none;
  margin: 2px 0;
}

.post {
  max-width: min(90%, 680px);
  margin: 0 auto;
}

.post {
  padding: 1.5em 0;
}

.post {
  font-size: 1.3em;
}
